body {
	background: #5D576B url('img/noise.png');
	min-width: 10em;
	max-width: 70em;
	margin: auto;
}

.header {
	font-family: 'Zilla Slab', sans-serif;
	font-variant: small-caps;
	font-size: 1.5em;
	text-align: center;
	font-weight: 500;
}

h1 {
	margin-top: 0;
	margin-bottom: 0.3em;
}

.header_ghost {
	height: 3em;
	padding-top: 1em;
}

.inputs {
	width: calc(100% - 1em);
	padding-left: 0.5em;
	padding-right: 0.5em;
	display: inline-grid;
	grid-template-columns: repeat(6, 1fr);
}

.input {
	background-color:#fe938c;
	margin: 0.8em;
	padding: 1em;
	padding-bottom: 0;
	display: grid;
	grid-column: span 2;
}

/* 
Centre widowed grid elements. Maths.jpg.
requires double span and double col count above.
*/
.input:last-child:nth-child(3n - 1) {
  grid-column-end: -2;
}

.input:nth-last-child(2):nth-child(3n + 1) {
  grid-column-end: 4;
}

.input:last-child:nth-child(3n - 2) {
  grid-column-end: 5;
}

.input.found {
	background-color: #ECDD7B;
}

.input.ruledOut {
	background-color: #C43331;
}

.input_icon {
	max-width: 100px;
	max-height: 6em;
	margin: auto;
}

.input_label {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}

@media (max-device-width: 150mm) and (orientation: portrait) {
	.inputs {
		width: 100%;
		padding: 0;
	}
	
	.input {
		background-color:#fe938c;
		margin: 0.4em;
		padding: 0.8em;
	}

	.input_label {
		display: none;
	}
}

@media (max-device-width: 100mm) and (orientation: portrait) {
	.inputs {
		grid-template-columns: 1fr 1fr;
	}
}

.ghost {
	color: #F1DEDE;
	margin: 2em;
	background: rgba(0,0,0,0.15);
	padding: 1em;
	letter-spacing: 0.015em;
}

h2 {
	font-size: 2em;
	margin-top: 0;
	font-family: 'Pathway Gothic One', sans-serif;
	font-variant: small-caps;
	
}

p {
	font-family: 'Zilla Slab', sans-serif;
	font-size: 1.05em;
	/*letter-spacing: 0.04em;*/
	font-weight: 400;
	margin: 0.7em;
}

p:last-of-type {
	margin-bottom: 0.2em;
}

.helptext p {
	font-size: 0.95em;
	font-weight: 600;
	margin: 0;
	text-align: center;
}
